body {
    background: #f4f6f9;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 230px;
    height: 100vh;
    position: fixed;
    background: #212529;
    color: white;
    padding-top: 20px;
}

.sidebar a {
    color: #fff;
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover {
    background: #495057;
}

.header {
    margin-left: 230px;
    height: 60px;
    background: #343a40;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}

.content {
    margin-left: 230px;
    margin-top: 70px;
    padding: 20px;
}
/* Modal width */
.modal-lg {
    max-width: 900px;
}

/* Modern modal look */
.modal-content {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* Section header inside modal */
.modal-section-title {
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #e5e5e5;
}

/* Input with icons */
.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.input-icon input {
    padding-left: 35px !important;
}
body {
    background-color: #f8f9fa;
}

.navbar .nav-link {
    font-size: 14px;
    padding: 8px 12px;
}

.navbar .nav-link.active {
    font-weight: 600;
    color: #0d6efd !important;
}
.rotate-arrow {
    transition: transform 0.3s ease;
}

.collapse.show + .rotate-arrow,
.nav-link[aria-expanded="true"] .rotate-arrow {
    transform: rotate(90deg);
}
.table thead tr th,#tableBody tr td{
white-space:pre;
}

.table-responsive{ overflow-x:hidden !important; }

.expand-row{
    background:#f8f9fa;
    display:none;
}

.expand-row td{
    padding:10px 20px;
    font-size:14px;
}


.table td, .table th{
    text-align:center;
    vertical-align:middle;
}

.expand-btn{
    display:inline-block;
    width:26px;
    height:26px;
    line-height:26px;
    border-radius:50%;
    background:#0d6efd;
    color:#fff;
    font-weight:bold;
    text-align:center;
    cursor:pointer;
    transition:0.2s;
}

.expand-btn:hover{
    background:#084298;
    transform:scale(1.1);
}
.detail-grid{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap:18px 40px;
}

.detail-grid div{
    display:flex;
    justify-content:space-between;
    background:#ffffff;
    padding:10px 14px;
    border-radius:8px;
    box-shadow:0 0 5px rgba(0,0,0,0.05);
}

.detail-grid b{
    color:#000;
}

.detail-grid span{
    color:#444;
}

